h1 {
    color: red;
    font-size: 12px;
}

.ThemeColor1 {
  color: #E01A27!important;
}
.borderColor{
  border-color: #E01A27!important;
  border-bottom: 2px solid;
}
.bgColor{
  background-color: #E01A27 !important;
}

.Font13 {
  font-size: 13px!important;
}
.Font13 {
  font-size: 14px !important;
}
.Font16{
  font-size: 16px !important;
}
.Font18{
  font-size: 18px !important;
}
.Font20{
  font-size: 20px !important;
}

.Font28{
  font-size: 28px !important;
}

.Gray_9e {
  color: #9e9e9e!important;
}
.Gray_75{
  color: #757575;
}
.Gray_9{
  color: #999999;
}
.yellow{
  color: #ffa340!important;
}

.bold{
  font-weight: 700 !important;
}
.mTop5{
  margin-top: 5px!important;
}
.mTop10 {
  margin-top: 10px!important;
}
.mTop15 {
  margin-top: 15px!important;
}
.mTop20{
  margin-top: 20px!important;
}
.mLeft10{
  margin-left: 10px !important;
}
.mRight5{
  margin-right: 5px;
}
.mBottom5{
  margin-bottom: 5px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
.pointer{
  cursor: pointer;
}
.icon{
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sticky-box{
  text-align: right;
  background: #ffffff;
  box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.15);

}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=SimSun]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=SimSun]::before {
  content: "宋体";
  font-family: "SimSun";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=SimHei]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=SimHei]::before {
  content: "黑体";
  font-family: "SimHei";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Microsoft-YaHei]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Microsoft-YaHei]::before {
  content: "微软雅黑";
  font-family: "Microsoft YaHei";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=KaiTi]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=KaiTi]::before {
  content: "楷体";
  font-family: "KaiTi";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=FangSong]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=FangSong]::before {
  content: "仿宋";
  font-family: "FangSong";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Arial]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Arial]::before {
  content: "Arial";
  font-family: "Arial";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Times-New-Roman]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Times-New-Roman]::before {
  content: "Times New Roman";
  font-family: "Times New Roman";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=sans-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=sans-serif]::before {
  content: "sans-serif";
  font-family: "sans-serif";
}

.ql-font-SimSun {
  font-family: "SimSun";
}
.ql-font-SimHei {
  font-family: "SimHei";
}
.ql-font-Microsoft-YaHei {
  font-family: "Microsoft YaHei";
}
.ql-font-KaiTi {
  font-family: "KaiTi";
}
.ql-font-FangSong {
  font-family: "FangSong";
}
.ql-font-Arial {
  font-family: "Arial";
}
.ql-font-Times-New-Roman {
  font-family: "Times New Roman";
}
.ql-font-sans-serif {
  font-family: "sans-serif";
}

.ql-snow .ql-picker{
  line-height: 24px !important;
}
